.Color1{
    color: teal;
    }
    .FondoRojo{
        background-color: red;
    }
    
    .Color2{
        color:red ;
    }
    .FondoVerde{
        background-color: green;
    }
    
    .Color3{
        color: blue;
    }
    .FondoAzul{
        background-color: blue;
    }
    .Color4{
        color: orange;
    }
    .Color5{
        color: purple;
    }
    .Color6{
        color: olive;
    }
    .Color7{
        color: fuchsia;
    }
    .Color8{
        color: green;
    }